@mixin avatar(){
    .avatar{
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    img{
        width: 100%;
        height: 100%;
        text-align: center;
        object-fit: cover;
    }
}
.a-sm{
    @include wh(35, 35);
}
.a-md{
    @include wh(60, 60);
}
.a-lg{
    @include wh(75, 75);
}

.avatar-content{
    display: flex;
    align-items: center;
    padding: padding-global(p5);
    .avatar-img{
        flex: 0 0 auto;
        margin-right: 16px;
    }
    .avatar-text{
            flex: 1 1 auto;
            .text-inline{
                    display: block;
                        line-height: 1.71429em;
            }
    }
}

.avatar-list{
    li:first-child{
        border-top: 1px solid $just-border;  
    }
     li{
        border-bottom: 1px solid $just-border; 
        display: list-item;
    }
}
}