@mixin roundedCorners($size){
    -webkit-border-radius: $size + px;
    -moz-border-radius: $size + px;
     border-radius: $size + px;  
}

@mixin roundedPorcent($size){
    -webkit-border-radius: $size + %;
    -moz-border-radius: $size + %;
     border-radius: $size + %;  
}